<div class="col l6 offset-l3 push-l3 m8 push-m2 s12">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Agregar Movimiento</span>
            <form id="newPatrimony" ng-submit="submitNewPatrimony(newPatrimony)" role="form" ng-init="newPatrimony = {}">
                <label for="name">Nombre</label>
                <input type="text" name="name" ng-model="newPatrimony.name" required="required"/>
                <label for="kind">Tipo</label>
                <input type="text" name="kind" ng-model="newPatrimony.kind" required="required"/>
                <label for="value">Valor</label>
                <input type="number" name="value" ng-model="newPatrimony.value" required="required"/>
                <label for="acquisition_date">Fecha de adquisicion</label>
                <input type="text" name="acquisition_date" pick-a-date="date" pick-a-date-options="{ format: 'dd-mm-yyyy' }" ng-model="newPatrimony.acquisition_date" required="required"/>
            </form> 
        </div>
        <div class="card-action">
            <button type="submit" class="btn" form="newPatrimony" ng-click="createPatrimony()">Guardar</button>
        </div>
    </div>
</div>
