<div class="col l6 offset-l3 push-l3 m8 push-m2 s12">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Agregar Patrimonio</span>
            <form id="newPatrimony" ng-submit="submitnewPatrimony(newPatrimony)" role="form" ng-init="newPatrimony = {}">
                <label for="email">Correo</label>
                <input type="email" name="email" ng-model="newPatrimony.email" required="required"/>
                <label for="password">Contraseña</label>
                <input type="password" name="password" ng-model="newPatrimony.password" required="required"/>
            </form>
        </div>
        <div class="card-action">
            <button type="submit" class="btn" form="newPatrimony">Ingresar</button>
        </div>
    </div>
</div>